<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/navbar.ejs') %>
    %>
    <div class="container about-container">
      <div class="about-img">
        <img src="/images/profile.jpg" alt="about me" />
      </div>
      <div class="about-content">
        <div class="about-card">
          <div class="about-header">
            <h1>簡介</h1>
          </div>
          <div class="about-text">
            <p>
              我是 Huli 程式導師第四期的學生，目前在新竹園區工作，
              喜歡重訓、游泳以及愛看恐怖電影，當然，還有閱讀囉。
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
