<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
    <title>常見問題ㄉ｜咬一口廚房</title>
  </head>
  <body>
    <div class="container">
      <header id="header-home">
        <nav id="main-nav">
          <h1><a href="/" class="logo">Just A Bite!</a></h1>
          <ul>
            <li><a href="/game">抽個大獎</a></li>
            <li><a href="/menu">我要點餐</a></li>
            <li><a href="#">查詢訂單</a></li>
            <li><a class="active" href="/faq">常見問題</a></li>
          </ul>
        </nav>
      </header>

      <section id="faq-container">
        <div class="intro">
          <div class="title">
            <div class="dot"></div>
            <h2 class="hd-36">FAQ - 常見問題</h2>
          </div>
        </div>
        <ul class="faq-lists">
          <% if( faqs.length ) { %>
            <% faqs.forEach((faq) => { %>
              <li class="list">
                <span>Q<%= faq.faq_order %>:</span>
                <div class="questions">
                  <p class="faq-title">
                    <%= faq.faq_title %>
                  </p>
                  <p class="faq-body">
                    <%= faq.faq_content %>
                  </p>
                </div>
              </li>
            <% }) %>
          <% } %>
        </ul>
      </section>

      <section id="home-e">
        <ul>
          <li>餐館地址: 天上地下天堂路三分之一里六段520號</li>
          <li>訂位專線：02-1314-5566</li>
          <li>
            營業時間：週一〜週五 09:00~18:00 /
            週六、週日、國定假日（含連假）休息
          </li>
          <li>email：service@justabite.com.tw</li>
        </ul>
        <div class="media">
          <div class="logo">Just A Bite!</div>
          <div class="medias">
            <a href="#">Facebook</a>
            /
            <a href="#">Instagram</a>
            /
            <a href="#">Youtube</a>
          </div>
        </div>
      </section>

      <footer>
        Copyright © 2020 Just A Bite All Rights Reserved.
        咬一口股份有限公司版權所有
      </footer>

      <script src="/js/faq.js"></script>
    </div>
  </body>
</html>
