* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font: 20px "Century Gothic", Futura, sans-serif;
}

ol,
ul {
  padding-left: 30px;
}

.game-board {
  padding: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #c19b6c;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 135px;
}

.game-info {
  margin-left: 20px;
  margin-bottom: 100px;
}

.white {
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  height: 30px;
}
.black {
  border-radius: 50%;
  background-color: #333;
  width: 30px;
  height: 30px;
}

.container {
  position: relative;
  min-height: 100%;
}

.title {
  height: 80px;
  padding: 1rem;
  background-color: rgb(255, 111, 97);
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
}

.title h3 {
  margin: 0px;
  font-size: 2.92rem;
  line-height: 110%;
  font-weight: 400;
}

.game-info div {
  margin-bottom: 10px;
}

button {
  padding: 5px;
  font-size: 15px;
}

footer {
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-align: center;
  background: rgb(136, 81, 81) none repeat scroll 0% 0%;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: block;
}
