.center {
  margin: 0 auto;
  margin-bottom: 0px;
}

.table-box {
  overflow-x: auto;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  margin-top: 10%;
}

.item-table {
  font-family: "Noto Sans TC", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.item-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #48c89e;
  color: white;
}

.item-table td, .item-table th {
    border: 1px solid #ddd;
    padding: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    text-align: center;
}

