@media (max-width: 800px) {
  .form-container h1 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .form-container h1 {
    font-size: 28px;
  }

  .form-container form + div {
    justify-content: center;
  }

  .form-container .form-group {
    width: 100%;
    margin-bottom: 30px;
  }

  .form-container .form-group:nth-child(4) {
    margin-bottom: 40px;
  }
}
