* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.warning {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  display: block;
}

.board {
  max-width: 1200px;
  margin: auto;
}

.board__login {
  max-width: 290px;
  width: 100%;
  margin: 50px auto;
}

.board__login-form-title {
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
  font-family: "Noto Sans TC", sans-serif;
}

.input-wrapper {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

i.input-icon {
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  left: 31px;
  top: 17px;
}

.from-login-btn-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login-btn {
  outline: none !important;
  border: none;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  padding: 0 25px;
  transition: all 0.4s;
  text-decoration: none;
  text-align: center;
}

a.login-btn {
  padding-top: 10px;
  display: block;
}

.login-btn:not(:first-child) {
  margin-top: 10px;
}

.login-btn:hover {
  background: #333333;
}

.input {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
  outline: none;
  border: none;
}

.hr {
  border: solid greenyellow 2px;
}

/* .board__type-comment {
  display: none;
} */

.board__type-comment-title {
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
  font-family: "Noto Sans TC", sans-serif;
}

.type-comment {
  width: 100%;
  min-height: 100px;
  resize: none;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #666;
  box-shadow: inset 0 0 0.25rem #ddd;
}

.board__comments {
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  padding: 10px;
}

.board__user-comment {
  display: flex;
  margin-bottom: 45px;
  flex-wrap: wrap;
  color: #808080;
}

.board__user-info {
  text-align: right;
  width: 17%;
  padding-right: 10px;
}

.board__user-comment p {
  background-color: #f3f3f3;
  line-height: 1.5;
  padding: 18px 22px;
  width: 50%;
  position: relative;
  word-break: break-word;
  white-space: pre-line;
}

.board__user-comment p:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  left: -8px;
  top: 18px;
}

.board__user-info .nickname {
  display: block;
  color: #656c71;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0 3px 0;
}

.board__user-info .time {
  font-size: 16px;
  color: #9ca7af;
}

.avatar {
  padding: 10px 18px 0 3px;
}
.avatar-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
